.header-nav button {
  background: none;
  border: none;
  font-size: 14px;
  font-weight: 500;
  color: #374151;
  cursor: pointer;
  padding: 4px 8px;
}

.header-nav button:hover {
  color: #2563eb;
}


.app-header {
  width: 100%;
  background: #ffffff;
  border-bottom: 1px solid #e5e7eb;
}

.header-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 14px 16px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.app-logo {
  font-size: 18px;
  font-weight: 700;
  color: #2563eb;
}

/* NAV */
.header-nav {
  display: none;
  gap: 16px;
}

.header-nav a {
  font-size: 14px;
  color: #374151;
  text-decoration: none;
  font-weight: 500;
}

.header-nav a:hover {
  color: #2563eb;
}


@media (min-width: 768px) {
  .header-nav {
    display: flex;
  }

  .app-logo {
    font-size: 20px;
  }
}
